
{% extends 'cmdb/layout/_layout.html' %}

{% block css %}    {% endblock %}

{% block conent %}
    <ol class="breadcrumb" style="margin-bottom: 0;">
        <li><a href="{% url 'cmdb:index' %}">首页</a></li>
        <li class="active">资产管理</li>
    </ol>
    <div style="padding: 5px 8px;">

        <div class="list-block">
            <div class="clearfix search-area">

                <div class="col-md-offset-10 do-submit">
                    <a id="search_condition_submit" class="btn btn-primary no-radius">
                        <i class="fa fa-search"></i> 搜索
                    </a>
                </div>

                <div id="search_conditions" class="col-md-offset-2 col-md-8">
                    <div class="condition">
                        <div class="icons">
                            <a class="btn btn-default no-radius" onclick="$.AddSearchCondition(this)"><i
                                    class="fa fa-plus-square"></i></a>
                        </div>
                        <div class="inputs">
                            <div class="input-group">
                                <div id="search_condition" init="false" class="input-group-btn">
                                    <label type="button" class="btn btn-default no-radius" style="width: 100px;">&nbsp;</label>
                                    <button type="button" class="btn btn-default dropdown-toggle no-border-r" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
                                    <ul class="change-search-condition dropdown-menu">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix function-area">
                <div class="btn-group btn-group-sm custom-btn-group">
                    <a id="check_all" class="btn btn-default no-radius"><i
                            class="fa fa-check-square"></i> 全选</a>
                    <a id="check_cancel" class="btn btn-default no-radius"><i class="fa fa-minus-square-o"></i> 取消</a>
                    <a id="check_reverse" class="btn btn-default no-radius"><i
                            class="fa fa-check-square-o"></i> 反选</a>
                    <a class="btn btn-default no-radius" href="{% url 'cmdb:add_asset' %}"><i class="fa fa-plus-circle"></i>添加</a>
                    <a id="do_delete" class="btn btn-default no-radius"><i class="fa fa-trash"></i> 删除</a>
                    <a id="edit_mode_target" class="btn btn-default no-radius"><i class="fa fa-pencil-square-o"></i>
                        <span>进入编辑模式</span></a>
                    <a id="do_save" class="btn btn-default no-radius"><i class="fa fa-floppy-o"></i> 保存</a>
                    <a id="do_refresh" class="btn btn-default no-radius"><i class="fa fa-refresh"></i> 刷新</a>
                    <a id="handle_status" class="btn no-radius" tabindex="0" role="button" data-toggle="manual"
                       data-trigger="focus" data-container="body" data-html="true" data-placement="bottom" title="错误详细"
                       data-content=""></a>
                </div>
            </div>

            <div class="table-responsive table-area">
                <table class="table table-striped table-bordered">
                    <!-- 表格标题开始 -->
                    <thead id="table_head">
{#                    <tr>#}
{#                        <th>ID</th>#}
{#                        <th>机房</th>#}
{##}
{#                    </tr>#}
                    </thead>
                    <!-- 表格标题结束 -->

                    <!-- 表格内容开始 -->
                    <tbody id="table_body" edit-mode='false'>

                    </tbody>
                    <!-- 表格内容结束 -->

                </table>
                <div class="clearfix">
                    <div class="right">
                        <ul id="pager" class="pagination pagination-sm no-margin">

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- 删除层开始 -->
    <div id="modal_delete" class="alert alert-danger alert-dismissible fade in modal-delete hide" role="alert">
        <button type="button" class="close" aria-label="Close" onclick="$.Hide('#shade,#modal_delete');"><span>×</span>
        </button>
        <h4>确定删除资产？</h4>

        <p>与该资产相关联的网卡、硬盘、内存和日志等将全部被删除！<br/> &nbsp;</p>

        <p style="text-align: right">
            <button type="button" class="btn btn-danger" id="do_delete_confirm">确定删除</button>
            <button type="button" class="btn btn-default" onclick="$.Hide('#shade,#modal_delete');">取消</button>
        </p>
    </div>
    <!-- 删除层结束 -->

    <!-- 遮罩层开始 -->
    <div id='shade' class='shade hide'></div>
    <!-- 遮罩层结束 -->

    <!-- 加载层开始 -->
    <div id='loading' class='loading hide'></div>
    <!-- 加载层结束 -->

{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/nb-list.js"></script>

    <script>
        $(function () {
            init();

            bindEditMenus();
            bindCheckbox();


        });
        //绑定编辑
        function bindEditMenus() {
            $('#edit_mode_target').click(function(){
                var editing = $(this).hasClass('btn-warning');
                if(editing){
                    //退出编辑模式
                    $(this).removeClass('btn-warning');
                    $(this).text('进入编辑模式')
                }else{
                    //进入编辑模式
                    $(this).addClass('btn-warning');
                    $(this).text('退出编辑模式')
                }

            })
        }
        //绑定checkbos
        function bindCheckbox(){
            $('#table_body').on('click',':checkbox',function(){
                if($('#edit_mode_target').hasClass('btn-warning')){
                    var ck = $(this).prop('checked'); //True False
                    var $currentTr = $(this).parent().parent();
                    if(ck){
                        //进入编辑模式
                        console.log('进入编辑');
                        trIntoEdit($currentTr)
                    }else{
                        //退出编辑模式
                        console.log('退出扁腻')
                    }
                }

            })
        }

        function trIntoEdit($tr){
            $tr.children().each(function(){
                // $(this) = td
                {#console.log($(this));#}
                var editEnable = $(this).attr('edit-enable');
                {#console.log(editEnable);#}
                if(editEnable=='true'){
                    //可以进入编辑器
                    var innerText = $(this).text();
                    var tag = document.createElement('input');
                    tag.value = innerText;
                    {#console.log(tag);#}
                    $(this).html(tag);
                    {#console.log($(this).html)#}
                }
            })
        }

        //自定义一个字符串格式化方法
        String.prototype.format = function(kwargs){
            var ret = this.replace(/\{(\w+)\}/g,function(km,m){
                return kwargs[m];
            });
            return ret;
        };
        
        function init() {
            $.ajax({
                url: '{% url 'cmdb:asset_json'%}',
                type: 'GET',
                dataType:'JSON',
                success:function(result){
                    initGlobalDate(result.global_dict);
                    initHeader(result.table_config);
                    initBody(result.table_config,result.data_list)
                }
            })
        }

        //表格头
        function initHeader(table_config){
            /*  生成这样的表格
            <tr>
               <th>ID</th>
            </tr>
            */
            {#console.log(table_config);#}
            var tr = document.createElement('tr');
            $.each(table_config,function(k,item){
                if (item.display){
                    var th = document.createElement('th');
                    th.innerHTML = item.title;
                    $(tr).append(th);
                 }

            });
            $('#table_head').append(tr)
        }

        //表格内容
        function initBody(table_config,data_list){
            /*
            data_list:
            [{'id': 2, 'idc': 1, 'cabinet_num': '02', 'device_type_id': 1},
             {'id': 3, 'idc': 1, 'cabinet_num': '02', 'device_type_id': 1}]
            */
            $.each(data_list,function (k,item) {
                //item = {'id': 2, 'idc': 1, 'cabinet_num': '02', 'device_type_id': 1}
                {#console.log('data_list(k,item)',k,item);#}
                var tr = document.createElement('tr');

                $.each(table_config,function(i,colConfig){
                    {#console.log('table_config(k,item)',k,colConfig);#}
                    if(colConfig.display){
                        var td = document.createElement('td');
                       // td.innerHTML = item[colConfig.q];

                        /* 生成文本信息 */
                        var kwargs = {};
                        $.each(colConfig.text.kwargs,function(k,v){
                            if(v.substring(0,2) == '@@'){
                                var global_name = v.substring(2,v.length);//全局变量的名称
                                var currentId = item[colConfig.q] ;  //获取数据库中存储的数字类型值
                                var t  = getTextFormGlobalById(global_name,currentId);
                                kwargs[k] = t;
                            }
                            else if(v[0] == '@'){
                                 kwargs[k] = item[v.substring(1,v.length)];
                                 {#console.log(v,kwargs[k])#}
                            }else{
                                 kwargs[k] = v;
                            }
                         });

                        var temp = colConfig.text.content.format(kwargs);
                        td.innerHTML = temp;

                        /* 设置属性 colConfig.attrs = {'edit-enable': 'true', 'edit-type': 'input'}*/
                        $.each(colConfig.attrs,function(kk,vv){
                             td.setAttribute(kk,vv);
                        });
                        $(tr).append(td)
                    }
                });
                $('#table_body').append(tr)

            })
        }

        //定义全局变量
        function initGlobalDate(global_dict){
            $.each(global_dict,function(k,v){
                //k = 'device_type_choices'
                //v = [[ 1, "服务器" ],[ 2, "交换机" ],[ 3, "防火墙" ]]
                {#console.log(k,v);#}
                window[k] = v;   //设置全局变量 等同于device_type_choices = v

            });
        }

        function getTextFormGlobalById(global_name,currentId){
            {#console.log(global_name);#}
            //global_name = 'device_type_choices'
            //currentId = 1
            var ret = null;
            $.each(window[global_name],function(k,v){
                {#console.log(k,v);#}
                if(v[0] == currentId){
                    ret = v[1];
                    return
                }

            });
            return ret;
        }


        {#$(function () {#}
        {#    $.initMenu('#menu_asset');#}
        {#    $.nbDataList('{% url 'cmdb:asset_json' %}');#}
        {# });#}
    </script>
{% endblock %}


{#{% block conent %}#}
{#    <ol class="breadcrumb" style="margin-bottom: 0;">#}
{#        <li><a href="{% url 'cmdb:index' %}">首页</a></li>#}
{#        <li class="active">资产管理</li>#}
{#    </ol>#}
{#    <div style="padding: 5px 8px;">#}
{##}
{#        <div class="list-block">#}
{#            <div class="clearfix search-area">#}
{##}
{#                <div class="col-md-offset-10 do-submit">#}
{#                    <a id="search_condition_submit" class="btn btn-primary no-radius">#}
{#                        <i class="fa fa-search"></i> 搜索#}
{#                    </a>#}
{#                </div>#}
{##}
{#                <div id="search_conditions" class="col-md-offset-2 col-md-8">#}
{#                    <div class="condition">#}
{#                        <div class="icons">#}
{#                            <a class="btn btn-default no-radius" onclick="$.AddSearchCondition(this)"><i#}
{#                                    class="fa fa-plus-square"></i></a>#}
{#                        </div>#}
{#                        <div class="inputs">#}
{#                            <div class="input-group">#}
{#                                <div id="search_condition" init="false" class="input-group-btn">#}
{#                                    <label type="button" class="btn btn-default no-radius" style="width: 100px;">&nbsp;</label>#}
{#                                    <button type="button" class="btn btn-default dropdown-toggle no-border-r" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>#}
{#                                    <ul class="change-search-condition dropdown-menu">#}
{##}
{#                                    </ul>#}
{#                                </div>#}
{##}
{##}
{#                            </div>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{##}
{#            <div class="clearfix function-area">#}
{#                <div class="btn-group btn-group-sm custom-btn-group">#}
{#                    <a id="check_all" class="btn btn-default no-radius"><i#}
{#                            class="fa fa-check-square"></i> 全选</a>#}
{#                    <a id="check_cancel" class="btn btn-default no-radius"><i class="fa fa-minus-square-o"></i> 取消</a>#}
{#                    <a id="check_reverse" class="btn btn-default no-radius"><i#}
{#                            class="fa fa-check-square-o"></i> 反选</a>#}
{#                    <a class="btn btn-default no-radius" href="{% url 'cmdb:' %}"><i class="fa fa-plus-circle"></i>添加</a>#}
{#                    <a id="do_delete" class="btn btn-default no-radius"><i class="fa fa-trash"></i> 删除</a>#}
{#                    <a id="edit_mode_target" class="btn btn-default no-radius"><i class="fa fa-pencil-square-o"></i>#}
{#                        <span>进入编辑模式</span></a>#}
{#                    <a id="do_save" class="btn btn-default no-radius"><i class="fa fa-floppy-o"></i> 保存</a>#}
{#                    <a id="do_refresh" class="btn btn-default no-radius"><i class="fa fa-refresh"></i> 刷新</a>#}
{#                    <a id="handle_status" class="btn no-radius" tabindex="0" role="button" data-toggle="manual"#}
{#                       data-trigger="focus" data-container="body" data-html="true" data-placement="bottom" title="错误详细"#}
{#                       data-content=""></a>#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div class="table-responsive table-area">#}
{#                <table class="table table-striped table-bordered">#}
{#                    <!-- 表格标题开始 -->#}
{#                    <thead id="table_head">#}
{#                    <tr>#}
{##}
{#                    </tr>#}
{#                    </thead>#}
{#                    <!-- 表格标题结束 -->#}
{##}
{#                    <!-- 表格内容开始 -->#}
{#                    <tbody id="table_body" edit-mode='false'>#}
{##}
{#                    </tbody>#}
{#                    <!-- 表格内容结束 -->#}
{##}
{#                </table>#}
{#                <div class="clearfix">#}
{#                    <div class="right">#}
{#                        <ul id="pager" class="pagination pagination-sm no-margin">#}
{##}
{#                        </ul>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#    </div>#}
{##}
{#    <!-- 删除层开始 -->#}
{#    <div id="modal_delete" class="alert alert-danger alert-dismissible fade in modal-delete hide" role="alert">#}
{#        <button type="button" class="close" aria-label="Close" onclick="$.Hide('#shade,#modal_delete');"><span>×</span>#}
{#        </button>#}
{#        <h4>确定删除资产？</h4>#}
{##}
{#        <p>与该资产相关联的网卡、硬盘、内存和日志等将全部被删除！<br/> &nbsp;</p>#}
{##}
{#        <p style="text-align: right">#}
{#            <button type="button" class="btn btn-danger" id="do_delete_confirm">确定删除</button>#}
{#            <button type="button" class="btn btn-default" onclick="$.Hide('#shade,#modal_delete');">取消</button>#}
{#        </p>#}
{#    </div>#}
{#    <!-- 删除层结束 -->#}
{##}
{#    <!-- 遮罩层开始 -->#}
{#    <div id='shade' class='shade hide'></div>#}
{#    <!-- 遮罩层结束 -->#}
{##}
{#    <!-- 加载层开始 -->#}
{#    <div id='loading' class='loading hide'></div>#}
{#    <!-- 加载层结束 -->#}
{##}
{#{% endblock %}#}
{##}
{#{% block js %}#}
{#    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>#}
{#    <script type="text/javascript" src="/static/plugins/bootstrap/js/bootstrap.js"></script>#}
{#    <script type="text/javascript" src="/static/js/nb-list.js"></script>#}
{##}
{#    <script>#}
{#        $(function () {#}
{#            $.initMenu('#menu_asset');#}
{#            $.nbDataList('{% url 'cmdb:asset_json' %}');#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}