{% extends '__base__.html' %}

{% block title %}修改日志{% endblock %}

{% block beforehead %}

{% endblock %}

{% block content %}

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="{% url 'blog:article_comment_list' 0 %}">评论</a></li>
                <li><a href="{% url 'blog:article_list' %}">日志</a></li>
                <li><a href="{% url 'user:user_list' %}">用户</a></li>
            </ul>
        </div>
    </div>

    <div id="error" class="uk-width-1-1">
    </div>

       <div  class="uk-width-2-3">

        <form  id="jsForm"  method="post" class="uk-form uk-form-stacked">
{#            <div class="uk-alert uk-alert-danger uk-hidden"></div>#}
            <div class="uk-form-row">
                <label class="uk-form-label">标题:</label>
                <div class="uk-form-controls">
                    <input id="js-title" name="title" type="text" placeholder="标题" value="{{ article_edit.title }}" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">摘要:</label>
                <div class="uk-form-controls">

                    <textarea  id="js-desc" rows="4" name="desc" placeholder="摘要" class="uk-width-1-1" style="resize:none;">{{ article_edit.desc }}</textarea>

                </div>
            </div>
            <input type="hidden" id="answer" name="answer" value="{{ article_edit.content }}">
            <div class="uk-form-row">
                <label class="uk-form-label">内容:</label>

                 <span >
                    <script id="editor" type="text/plain" charset="utf-8" style="width:800px;height:500px;"  >

                    </script></span>

{#                <div  class="uk-form-controls" >#}
{#                    <textarea id="js-content" rows="16" name="content" placeholder="内容" class="uk-width-1-1" style="resize:none;">{{ article_edit.content }}</textarea>#}
{#                </div>#}

            </div>
            <div class="uk-form-row">
                <button id="js-pl-submit" onclick="add_art()" type="button" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 保存</button>
{#                <button id="js-pl-submit" onclick="setContent()" type="button" class="uk-button uk-button-primary"><i class="uk-icon-save"></i> 保存</button>#}
{#                <input onclick="add_art()" id="js-pl-submit" type="button"  value="保存" class="uk-button uk-button-primary">#}
                <a href="{% url 'blog:article_list' %}" class="uk-button"><i class="uk-icon-times"></i> 取消</a>
            </div>
            {% csrf_token %}
        </form>
    </div>

<script type="text/javascript">
      var ue = UE.getEditor('editor');
      // content = $("#answer").val();
      // a = $("#cont").html(content)
      a =  $("#editor").html($("#answer").val());
      ue.addListener("ready", function () {
                   // editor准备好之后才可以使用
          ue.setContent(a);


   });

    //添加文章
    function add_art() {

        var title = $("#js-title").val();
        if(title == ""){
             alert("标题不能为空");
            return
         }

        var desc = $("#js-desc").val();
         if(desc == ""){
            return  alert("摘要不能为空")
         }

         {#var content = $("#js-content").val()#}
        var content = UE.getEditor('editor').getContent();
        if(ue.hasContents() == false){
            return alert("内容不能为空")
         }
        $.ajax({
            cache: false,
            type: "POST",
            url:"{% url 'blog:article_modify' article_edit.id %}",
            data:{'title':title, 'desc':desc, 'content':content},
            dataType: "json",
            async: true,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(data) {
                if(data.status == 'fail'){
                    if(data.msg == '用户未登录'){
                        alert(data.msg)
                        window.location.href="{% url 'user:login' %}";

                    }else{
                       return  alert(data.msg)
                    }

                }else if(data.status == 'success'){
                   // {#window.location.reload();//刷新当前页面.#}
                    window.location.href="{% url 'blog:article_detail' article_edit.id %}";
                }
            },
        })
     }
</script>

{% endblock %}

{#    <script>#}
{#var#}
{#    ID = '{{ id }}',#}
{#    action = '{{ action }}';#}
{#function initVM(blog) {#}
{#    var vm = new Vue({#}
{#        el: '#vm',#}
{#        data: blog,#}
{#        methods: {#}
{#            submit: function (event) {#}
{#                event.preventDefault();#}
{#                var $form = $('#vm').find('form');#}
{#                $form.postJSON(action, this.$data, function (err, r) {#}
{#                    if (err) {#}
{#                        $form.showFormError(err);#}
{#                    }#}
{#                    else {#}
{#                        return location.assign('/manage/blogs');#}
{#                    }#}
{#                });#}
{#            }#}
{#        }#}
{#    });#}
{#    $('#vm').show();#}
{# }#}
{#$(function () {#}
{#    if (ID) {#}
{#        getJSON('/api/blogs/' + ID, function (err, blog) {#}
{#            if (err) {#}
{#                return fatal(err);#}
{#            }#}
{#            $('#loading').hide();#}
{#            initVM(blog);#}
{#        });#}
{#    }#}
{#    else {#}
{#        $('#loading').hide();#}
{#        initVM({#}
{#            name: '',#}
{#            summary: '',#}
{#            content: ''#}
{#        });#}
{#    }#}
{# });#}
{#</script>#}

{#<script>#}
{#var#}
{#    ID = '{{ id }}',#}
{#    action = '{{ action }}';#}
{#function initVM(blog) {#}
{#    var vm = new Vue({#}
{#        el: '#vm',#}
{#        data: blog,#}
{#        methods: {#}
{#            submit: function (event) {#}
{#                event.preventDefault();#}
{#                var $form = $('#vm').find('form');#}
{#                $form.postJSON(action, this.$data, function (err, r) {#}
{#                    if (err) {#}
{#                        $form.showFormError(err);#}
{#                    }#}
{#                    else {#}
{#                        return location.assign('/manage/blogs');#}
{#                    }#}
{#                });#}
{#            }#}
{#        }#}
{#    });#}
{#    $('#vm').show();#}
{# }#}
{#$(function () {#}
{#    if (ID) {#}
{#        getJSON('/api/blogs/' + ID, function (err, blog) {#}
{#            if (err) {#}
{#                return fatal(err);#}
{#            }#}
{#            $('#loading').hide();#}
{#            initVM(blog);#}
{#        });#}
{#    }#}
{#    else {#}
{#        $('#loading').hide();#}
{#        initVM({#}
{#            name: '',#}
{#            summary: '',#}
{#            content: ''#}
{#        });#}
{#    }#}
{# });#}
{#</script>#}