{% extends '__base__.html' %}

{% block meta %}
<meta http-equiv="Content-Type" content="text/html charset=utf-8"/>
{% endblock %}

{% block title %}首页{% endblock %}



{% block beforehead %}

<script>
    $(function () {
        var obj = new ScrollArticle();
        obj.fetchArticle();
        obj.scrollEvent();
    });
    function ScrollArticle() {
        this.nid = 0;
        this.end = 4;
        this.fetchArticle = function () {  //此方法从后台 取得文章
            var that = this;

            $.ajax({
                url: '{% url 'user:get_article' %}',
                type: 'GET',
                data: {'nid': that.nid,'end':that.end},
                dataType: 'json',
                success:function (arg) {
                    var article_list = arg.data;
                    if (article_list.length>0){
                        var article = "";
                        $.each(article_list,function (index,v) { //循环后台出来的article_list
                        var eqv = index + that.end+1;
                        console.log(index,v.add_time.toLocaleString(),v.user);
                        article += "<article class=\"uk-article\" >\n" +
                                        "<h2><a href=\"/blog/article_detail/"+ v.id + "\">" + v.title+"</a></h2>\n" +
                                        "<p class=\"uk-article-meta\">发表于"+ v.add_time + "---作者: <a href=\"\">"+ v.user.username + "</a></p>\n" +
                                        "<p>" + v.desc + "</p>\n" +
                                        "<p><a href=\"/blog/article_detail/"+ v.id + "\">继续阅读 <i class=\"uk-icon-angle-double-right\"></i></a></p>\n" +
                                    "</article>\n" +
                                    "<hr class=\"uk-article-divider\">"
                        });
                        $('#articles').append(article)
                    }
                    {#else {#}

                    {# }#}
                }
            });
            that.nid += 4;
            that.end += 4;
        };
        // 当滚轮到达最底部时,执行 fetchArticle()
        this.scrollEvent = function () {
            var that = this;
            $(window).scroll(function () {
                var scrollTop = $(window).scrollTop(); //滚动条滚动的距离
                var winHeight = $(window).height();    //窗口的高度
                var docHeight = $(document).height();  //文档的高度

                console.log(scrollTop,winHeight,docHeight);
                if (scrollTop + winHeight >= docHeight){
                    console.log(1);
                    that.fetchArticle();
                }
            })
        }
    }
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4" id="articles">



    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/category/0013738748415562fee26e070fa4664ad926c8e30146c67000">编程</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/category/0013738748248885ddf38d8cd1b4803aa74bcda32f853fd000">读书</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/wiki/001374738125095c955c1e6d8bb493182103fac9270762a000">Python教程</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/wiki/0013739516305929606dd18361248578c67b8067c8c017b000">Git教程</a></li>
            </ul>
        </div>
    </div>

{% endblock %}