{% extends '__base__.html' %}

{% block title %}首页{% endblock %}

{% block beforehead %}

<script>


</script>

{% endblock %}

{% block content %}

    <div class="uk-width-medium-3-4">
    {% for article in articles.object_list %}
        <article class="uk-article">
            <h2><a href="{% url 'blog:article_detail' article.id %}">{{ article.title }}</a></h2>
            <p class="uk-article-meta">发表于{{ article.add_time |date:'Y-m-d H:i'}}---作者：<a href="">{{ article.user.username }}</a> >>阅读(<a href="">{{ article.click_nums }}</a>) | 评论({{ article.getArtcileCommentCount }})</p>
            <p>{{ article.desc }}</p>
            <p><a href="{% url 'blog:article_detail' article.id %}">继续阅读 <i class="uk-icon-angle-double-right"></i></a></p>
        </article>
        <hr class="uk-article-divider">
    {% endfor %}

    <div class="pageturn">
        <ul  class="pagelist">

            {% if articles.has_previous %}
                <li class="long"><a href="?{{ articles.previous_page_number.querystring }}">上一页</a></li>
            {% else %}
                <li class="long"><span class="disabled prev"><a>上一页</a></span></li>
            {% endif %}

            {% for page in articles.pages %}
                {% if page %}
                    {% ifequal page articles.number %}
                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                    {% endifequal %}
                {% else %}
                    <li class="none"><a href="">...</a></li>
                {% endif %}
            {% endfor %}
            {% if articles.has_next %}
                <li class="long"><a href="?{{ articles.next_page_number.querystring }}">下一页</a></li>
            {% else %}
                <li class="long"><span class="disabled next"><a>下一页</a></span></li>
            {% endif %}
        </ul>
    </div>

    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">文章类别</h3>
            <ul class="uk-list uk-list-line">
                <li> <a  href="/">全部({{ article_count }})</a></li>

                {% for category in all_category %}
                <li> <a  href="?category={{ category.id }}">{{ category.name }}({{ category.article_set.count }})</a></li>
                {% endfor %}
{#                     <i class="uk-icon-thumbs-o-up"></i>      #}
            </ul>
        </div>
    </div>

    <div class="uk-width-medium-1-4">
        <div class="uk-panel uk-panel-header">
            <div hidden=""></div>
            <hr>
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-line">
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/category/0013738748415562fee26e070fa4664ad926c8e30146c67000">编程</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/category/0013738748248885ddf38d8cd1b4803aa74bcda32f853fd000">读书</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/wiki/001374738125095c955c1e6d8bb493182103fac9270762a000">Python教程</a></li>
                <li><i class="uk-icon-thumbs-o-up"></i> <a target="_blank" href="http://www.liaoxuefeng.com/wiki/0013739516305929606dd18361248578c67b8067c8c017b000">Git教程</a></li>
            </ul>
        </div>
    </div>

{% endblock %}