{% extends '__base__.html' %}

{% block title %}评论{% endblock %}   {# ##########将所有评论及子评论列出来############ #}

{% block beforehead %}

<script type="text/javascript">

function art_child_comment1(comment_id,reply_id,reply_type,to_user_id) {
    var text_id = 'js-child-comment'+reply_id;
    var art_comm_content = $('#'+text_id ).val();
    if(art_comm_content == ""){
            return alert("回复内容不能为空")
         }

    $.ajax({
        cache: false,
        type: "POST",
        url:"{% url 'blog:article_reply_comment_add' %}",
        data:{'comment_id':comment_id,'reply_id':reply_id, 'reply_type':reply_type, 'to_user_id':to_user_id, 'art_comm_content':art_comm_content },
        dataType: "json",
        async: true,
        beforeSend:function(xhr, settings){
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        success: function(data) {
            if(data.status == 'fail'){
                if(data.msg == '用户未登录'){
                    alert(data.msg);
                    window.location.href="{% url 'user:login' %}";
                }else{
                    return  alert(data.msg)
                }
            }else if(data.status == 'success'){
                window.location.reload();//刷新当前页面.
                return alert(data.msg);
            }
        }
    })
 }

</script>

{% endblock %}

{% block content %}

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li class="uk-active"><span>评论</span></li>
                <li><a href="{% url 'blog:article_list' %}">日志</a></li>
                <li><a href="{% url 'user:user_list' %}">用户</a></li>
            </ul>
        </div>
    </div>

    <div class="uk-width-1-1" >

            {% if article_id == '0' %}
                <h3>所有评论:</h3>
            {% else %}
                <h3>关于<a href="{% url 'blog:article_detail' article_id %}">{{ article.title }}</a>的所有评论:</h3>
            {% endif %}

        <ul class="uk-comment-list">

               {% for comment in comments.object_list %}
                <li>
                    <!--  一级评论 start  -->
                    <article class="uk-comment">
                        <header class="uk-comment-header">
                            <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{{ MEDIA_URL }}{{ comment.user.image }}">
                            <h4 class="uk-comment-title"><a href="">{{ comment.user.username }}</a>  {% if comment.user.id == article.user.id %}(作者){% endif %}</h4>
                        <p class="uk-comment-meta">{{ comment.add_time |date:'Y-m-d H:i' }} <a onclick="popup0{{ comment.id }}()">回复</a></p>
                         <hr color="red" width="805" style=""/>
                        <div class="uk-comment-body">
                            {{ comment.comments }}
                        <div id="js-child-content{{ comment.id }}" hidden >
                                <textarea id="js-child-comment{{ comment.id }}"  rows="6" placeholder="说点什么吧" style="width:100%;resize:none;"></textarea>
                                <input id="jsComment" onclick="art_child_comment1({{ comment.id }},{{ comment.id }},1,{{ comment.user.id }})" type="button" class="uk-button uk-button-primary" value="回复评论">
                                     <a onclick="pack_up0{{ comment.id }}()">收起</a>
                        </div> <!-- 一级 回复框 -->
                        <script>
                                  function popup0{{ comment.id }}() {  $("#js-child-content{{ comment.id }}").show() }
                                  function pack_up0{{ comment.id }}() { $("#js-child-content{{ comment.id }}").hide() }</script>
                <!-- 二级评论 start 回复评论 -->
                {% if comment.getReplyComment %}
                  {% for childcomment in comment.getReplyComment %}
                     {% for user in all_users %}
                           {% if user.id == childcomment.user %}
                           {% if  childcomment.reply_type == '1'%}
                            <article class="uk-comment">
                                <header class="uk-comment-header">
                                    <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{{ MEDIA_URL }}{{ user.image }}">
                                    <h4 class="uk-comment-title"><a href="">{{ user.username }}{% if childcomment.user == article.user.id %}(作者){% endif %}</a>

                                        >>回复<a href="">{{ comment.user.username }}{% if comment.user.id == article.user.id %}(作者){% endif %}</a>
                                    </h4>
                                    <p class="uk-comment-meta">{{ childcomment.add_time |date:'Y-m-d H:i' }}<a onclick="popup_clidea{{ childcomment.id }}()">回复</a></p>
                                            <hr color="red" width="770" style=""/>
                                            <div class="uk-comment-body">
                                                 {{ childcomment.comments }}
                                            </div>
                                </header>
                                            <div id="js-child-content{{ childcomment.id }}" hidden >
                                    <textarea id="js-child-comment{{ childcomment.id }}"  rows="6" placeholder="说点什么吧" style="width:100%;resize:none;"></textarea>
                                    <input id="jsReplyComment" onclick="art_child_comment1({{ comment.id }},{{ childcomment.id }},2,{{ user.id }})" type="button" class="uk-button uk-button-primary" value="回复评论">
                                    <a onclick="packup_clidea{{ childcomment.id }}()">收起</a></div>  <!-- 二级 回复评论 回复框 -->
                                            <script> console.info(packup_clide1{{ childcomment.id }});
                                          function popup_clidea{{ childcomment.id }}() {  $("#js-child-content{{ childcomment.id }}").show() }
                                          function packup_clidea{{ childcomment.id }}() { $("#js-child-content{{ childcomment.id }}").hide() }
                                </script>
                            </article>
                          {% endif %}
                         {% endif %}

                               <!-- 二级评论 end 回复评论 -->
                               <!-- 二级评论 start 回复回复 -->
                         {% if   childcomment.reply_type == '2'%}
                                 {% if user.id == childcomment.user %}
                            <article class="uk-comment">
                                      <header class="uk-comment-header">
                                          <img class="uk-comment-avatar uk-border-circle" width="50" height="50" src="{{ MEDIA_URL }}{{ user.image }}">
                                          <h4 class="uk-comment-title"><a href="">{{ user.username }}{% if user.id == article.user.id %}(作者){% endif %}</a>
                                              >>回复<a href="">{{ childcomment.to_user.username }}{% if childcomment.to_user.id == article.user.id %}(作者){% endif %}</a>
                                          </h4>
                                          <p class="uk-comment-meta">{{ childcomment.add_time |date:'Y-m-d H:i' }}<a onclick="popup_clideb{{ childcomment.id }}()">回复</a></p>
                                                    <hr color="red" width="770" style=""/>
                                                    <div class="uk-comment-body">
                                                            {{ childcomment.comments }}
                                                    </div>
                                      </header>
                                                <div id="js-child-content{{ childcomment.id }}" hidden >
                                                    <textarea id="js-child-comment{{ childcomment.id }}"  rows="6" placeholder="说点什么吧" style="width:100%;resize:none;"></textarea>
                                                    <input id="jsReplyComment" onclick="art_child_comment1({{ comment.id }},{{ childcomment.id }},2,{{ user.id }})" type="button" class="uk-button uk-button-primary" value="回复评论">
                                                    <a onclick="packup_clideb{{ childcomment.id }}()">收起</a></div>  <!-- 二级 回复回复  回复框 -->
                                                <script>
                                                          function popup_clideb{{ childcomment.id }}() {  $("#js-child-content{{ childcomment.id }}").show() }
                                                          function packup_clideb{{ childcomment.id }}() { $("#js-child-content{{ childcomment.id }}").hide() }
                                                </script>
                            </article>
                                             <!-- 二级评论 end 回复回复 -->
                                 {% endif %}
{#                             {% endfor %}#}
                             {% endif %}

                         {% endfor %}
                      {% endfor %}
                {% endif %}

                        </div>
                        </header>

                    </article>
                     <!-- 一级评论区域  end  评论 -->
                </li>
         {% endfor %}

        </ul>

    <div class="pageturn">
            <ul  class="pagelist">

            {% if comments.has_previous %}
                <li class="long"><a href="?{{ comments.previous_page_number.querystring }}">上一页</a></li>
            {% else %}
                <li class="long"><span class="disabled prev"><a>上一页</a></span></li>
            {% endif %}

            {% for page in comments.pages %}
                {% if page %}
                    {% ifequal page comments.number %}
                        <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                    {% endifequal %}
                {% else %}
                    <li class="none"><a href="">...</a></li>
                {% endif %}
            {% endfor %}
            {% if comments.has_next %}
                <li class="long"><a href="?{{ comments.next_page_number.querystring }}">下一页</a></li>
            {% else %}
                <li class="long"><span class="disabled next"><a>下一页</a></span></li>
            {% endif %}
        </ul>
    </div>


    </div>
{% endblock %}




