{% extends '__base__.html' %}

{% block title %}注册{% endblock %}

{% block beforehead %}

{% endblock %}

{% block content %}


     <div class="uk-width-2-3">
        <h1>欢迎注册！</h1>
        <form  id="jsRegForm" method="post" class="uk-form uk-form-stacked">
            <div class=" uk-alert uk-alert-danger ">
                {% for key,error in register_form.errors.items %}{{ error }}{% endfor %}
                </div>
            <div class="uk-form-row">
                <label class="uk-form-label">名字:</label>
                <div class="uk-form-controls">
                    <input id="js-name" name="name" type="text" maxlength="50" placeholder="名字" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">电子邮件:</label>
                <div class="uk-form-controls">
                    <input id="js-email" name="email" type="text" maxlength="50" placeholder="your-name@example.com" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">输入口令:</label>
                <div class="uk-form-controls">
                    <input id="js-passwd1" name="password1" type="password" maxlength="50" placeholder="输入口令" class="uk-width-1-1">
                </div>
            </div>
            <div class="uk-form-row">
                <label class="uk-form-label">重复口令:</label>
                <div class="uk-form-controls">
                    <input id="js-passwd2" name="password2" type="password" maxlength="50" placeholder="重复口令" class="uk-width-1-1">
                </div>
            </div>

            <div class="uk-form-row">
{#                <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-user"></i> 注册</button>#}
                <button type="button" onclick="registerPost()" class="uk-button uk-button-primary"><i class="uk-icon-user"></i> 注册</button>
            </div>

            {% csrf_token %}
        </form>
    </div>

<script>
    function validateEmail(email) {
        var re = /^[a-z0-9\.\-\_]+\@[a-z0-9\-\_]+(\.[a-z0-9\-\_]+){1,4}$/;
        return re.test(email.toLowerCase());
     }

    function registerPost() {
        {#console.log(123)#}
        var reg_name = $("#js-name").val();
        if (reg_name == ''){
            return alert('名字不能为空!');
        }
        var reg_email = $("#js-email").val();
        if (! validateEmail(reg_email.trim().toLowerCase())){
           return alert('请输入正确的邮箱地址');
        }
        var reg_passwd1 = $("#js-passwd1").val();
        if (reg_passwd1 == ''){
           return alert('密码1不能为空!');
        }
        if (reg_passwd1.length <5){
            return alert('长度不能少于5位');
        }
        var reg_passwd2 = $("#js-passwd2").val();
        if (reg_passwd2 != reg_passwd1){
           return alert('密码不一致');
        }
        $.ajax({
            cache: false,
            type: 'POST',
            url: "{% url 'user:register' %}",
            data: {'name':reg_name, 'email':reg_email, 'password1':reg_passwd1,'password2':reg_passwd2},
            {#data: $("#jsRegForm").serialize(),#}
            dataType: "json",
            async: true,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(data) {
                    if(data.status == 'fail'){
                        if(data.msg == '该邮箱已被注册!'){
                            alert(data.msg);
                            {#window.location.reload();#}

                        }else{
                           return  alert(data.msg)
                        }

                    }else if(data.status == 'success'){
                        alert(data.msg);
                        window.location.href="{% url 'user:login' %} ";
                    }
                },
        });
    }
</script>


{% endblock %}